<!DOCTYPE html>
<html>
<head>
  <title>Urfantasy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= react_component('Header', {}) %>

  <div class="ui grid">
    <div class="four wide column">
      <%= react_component('Menu', {}) %>
    </div>
    <div class="twelve wide column">
      <%= yield %>
    </div>
  </div>

  <%= react_component('Modal', {}) %>

</body>
</html>
